.Questions {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h3 {
  margin-top: 0;
}

p {
  margin: 40px;
  font-size: 22px;
}

.Questions button {
  font-size: 18px;
  padding: 20px;
  border: 2px solid #f8ca47;
  border-radius: 10px;
  background-color: #6a5293;
  box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.5);
  transition: all 150ms ease-in-out;
}

.Questions button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.answer-options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  margin: 60px 0;
}

.score {
  font-size: 34px;
}

@media (max-width: 500px) {
  .answer-options {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
}
