.Quiz {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.quiz-box {
  width: 500px;
  height: 300px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  background-color: rgb(161, 195, 207);
  padding: 80px;
  text-align: center;
  box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.5);
}

.Quiz .quiz-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 36px;
}

h2 {
  font-weight: 300;
}

.Quiz button {
  padding: 20px 40px;
  margin-top: 40px;
  font-size: 20px;
  font-weight: 700;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  background: rgb(206, 236, 244);
  box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.5);
  transition: all 150ms ease-in-out;
}

.Quiz button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

@media (max-width: 500px) {
  .quiz-box {
    height: 500px;
    padding: 20px;
  }
}
